@media (min-width: 768px) and (max-width: 1024px) { 

   .line1 {
    margin-left:5%;
    }
    .social ul li a {
        margin-right: 11px;
    }
    .top-menu{
        margin-top: 1rem;
    }
    .menu ul{
        margin-left: 0;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    
}

@media (min-width: 360px) and (max-width: 479px){
    
}
